<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"{opacity}>
    <div class="product_list">
<div class="single_product">
    <a href="{link}"><img src="{image}" alt="{name}" /></a>
    <div class="product_details">
        <h2>{name}</h2>
        <p><span class="regular_price">{price_old}</span> <span class="popular_price">{price_discount} грн</span></p>
    </div>
    <div class="product_detail">
        <div class="star_icon">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-half-o"></i>
        </div>
        <div class="product_button">
            <div class="cart_details">
                <a href="{link}">Перегляд</a>
            </div>
        </div>
    </div>
    {addAct}
</div>
</div>
</div>