<div class="container mt-5">
    <div class="col-lg-12 col-md-4 col-sm-12 col-xs-12">
        <div class="service_list text-center">
            <a href="{main_sait}ua/mode/news" style="    text-decoration: none;">
                <h2><i class="fa fa-dollar"></i> Частину прибутку ми відправляємо на підтримку фонду «Повернись живим», Фонд Притули, Фонд «Захист Майбутнього». Сума оновлюється щотижня</h2>
                <div style="color: #ff343b; font-size: 2em; font-weight: bold;">{summ_war} грн.</div>
            </a>
        </div>
    </div>
</div>
<div class="feature_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="feature_text">
                    <h4>Новинки</h4>
                </div>
            </div>
        </div>
        <div class="row mb-n-30px">
            {lastAdd}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="more_feature_area">
                    <h2><a href="{main_sait}ua/shop/showAllInStock/?p=76">Дивитись більше...</a></h2>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--End Feature area -->
<!--Start Contact info area -->
<div class="service_info_area home2_service_info">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="service_list">
                    <h2><i class="fa fa-envelope-o"></i> info@kombat.in.ua</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="service_list">
                    <h3><i class="fa fa-phone"></i> +38 (068) 000 23 77</h3>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="Social_list">
                    <h2>Приєднуйтесь до нас: </h2>
                    <div class="social_icon my-class uk-scrollspy-init-inview uk-invisible">
                        <a data-bs-toggle="tooltip" data-placement="top" title="" data-original-title="Like 6k" class="red-tooltip" href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>