<div class="swiper-slide">
    <div class="whiteproduct">
        <div class="whiteproduct__thumb">
            <a href="{link}"><img src="{image}" alt="product-thumb"></a>
        </div>
        <div class="whiteproduct__content d-flex justify-content-between align-items-center">
            <div class="whiteproduct__text">
                <h5 class="whiteproduct__title"><a href="{link}">{name}</a></h5>
                <span>{price_discount} грн.</span> <span class="tpproduct__priceinfo-list-oldprice">{strike}{price_old}{/strike}</span>
            </div>
        </div>
    </div>
</div>