<a href="{main_sait}ua/register.html"><i class="fal fa-user"></i></a>
<div class="modal" tabindex="-1" id="modalLogin">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Вхід на сайт</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>Телефон:</td>
                        <td><input type="text" id="loginInSite" class="form-control input-sm" placeholder="телефон"></td>
                    </tr>
                    <tr>
                        <td>Пароль:</td>
                        <td><input type="password" id="passwordInSite" class="form-control input-sm" placeholder="пароль"></td>
                    </tr>
                </table>
                <div id="errorLogin" style="display: none;" class="alert alert-danger">
                    Телефон або пароль введено не вірно!
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                <button type="button" class="btn btn-primary" onclick="loginInSite2();">Увійти</button>
            </div>
        </div>
    </div>
</div>