<div class="col">
    <div class=" tpproduct pb-15 mb-30">
        <div class="tpproduct__thumb p-relative">
            <a href="{link}">
                <img src="{image}" alt="product-thumb">
                <img class="product-thumb-secondary" src="{image_second}" alt="product-thumb">
            </a>
            <div class="tpproduct__thumb-action">
                <a class="quckview" href="{link}"><i class="fal fa-eye"></i></a>
            </div>
        </div>
        <div class="tpproduct__content">
            <h3 class="tpproduct__title"><a href="{link}">{name}</a></h3>
            <div class="tpproduct__priceinfo p-relative">
                <div class="tpproduct__priceinfo-list">
                    <span>{price_discount}</span>
                    <span class="tpproduct__priceinfo-list-oldprice">{strike}{price_old}{/strike}</span>
                </div>
                <div class="tpproduct__cart">
                    <a href="{link}"><i class="fal fa-shopping-cart"></i>Детальніше</a>
                </div>
            </div>
        </div>
    </div>
</div>