<div class="col" style="z-index: 1;">
    <div class="tpproduct tpproductitem mb-15 p-relative">
        <div class="tpproduct__thumb">
            <div class="tpproduct__thumbitem p-relative">
                <a href="{link}">
                    <img src="{image}" alt="product-thumb">
                    <img class="thumbitem-secondary" src="{image_second}" alt="product-thumb">
                </a>
                <div class="tpproduct__thumb-bg">
                    <div class="tpproductactionbg">
                        <a href="{link}"><i class="fal fa-shopping-basket"></i></a>
                        <a href="{link}"><i class="fal fa-eye"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tpproduct__content-area">
            <h3 class="tpproduct__title mb-5"><a href="{link}">{name}</a></h3>
            <div class="tpproduct__priceinfo p-relative">
                <div class="tpproduct__ammount">
                    <span>{price_discount} грн.</span> <span class="tpproduct__priceinfo-list-oldprice">{strike}{price_old}{/strike}</span>
                </div>
            </div>
        </div>
        <div class="tpproduct__ratingarea">
            <div class="d-flex align-items-center justify-content-between">
                <div class="tpproduct__rating">
                    <ul>
                        <li>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                            <a href="#"><i class="fas fa-star"></i></a>
                        </li>
                        <li>
                            <span>({countReview})</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>