<footer id="footer"><!--Footer-->

    <div class="footer-bottom" style="margin-top: 100px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-3" style="text-align: center; padding-top: 10px;">
                    <a href="{main_sait}index.php"><img src="{template}images/logo.png" alt="" /></a>
                    <p class="pull-left">Copyright © 2020 BOBAS.UA</p>
                </div>
                <div class="col-lg-12 text-center">
                    <a href="https://www.instagram.com/bobas.ua/" target="_blank"><img src="{template}images/insta.png" style="width: 32px;"></a>
                    <a href="https://www.facebook.com/bobas.ukraine" target="_blank"><img src="{template}images/facebook.png" style="width: 32px;"></a>
                    <a href="https://www.youtube.com/channel/UC7oSuLcmMCh3C95Y0xTTFHA" target="_blank"><img src="{template}images/youtube.png"></a>
                </div>
                <div class="col-lg-3" style="padding-top: 10px;">
                    <ul>
                        <li><a href="https://bobas.ua/ua/shop/Podarunkovi_sertufikatu/?param&select[2][]=153" style="color: #000;"><i class="fa fa-gift" aria-hidden="true"></i> Подарункові сертифікати і бокси</a></li>
                        <li><a href="https://bobas.ua/ua/mode/news" style="color: #000;"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Блог</a></li>
                        <li><a href="https://b2b.bobas.ua" style="color: #000;"><i class="fa fa-link"></i> Вхід для партнерів</a></li>
                    </ul>
                </div>
                <div class="col-lg-3" style="background-color: #e6e6e6; height: 140px; padding-top: 10px;">
                    <ul>
                        <li><a href="https://bobas.ua/ua/mode/content-3.html" style="color: #000;">Про нас</a></li>
                        <li><a href="https://bobas.ua/ua/mode/news/contact_1.html" style="color: #000;">Контакти</a></li>
                        <li><a href="https://bobas.ua/ua/mode/content-1.html" style="color: #000;">Оплата та доставка</a></li>
                        <li><a href="https://bobas.ua/ua/mode/content-2.html" style="color: #000;">Права покупця</a></li>
                        <li><a href="https://bobas.ua/ua/mode/content-4.html" style="color: #000;">Договір-оферта</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 text-center" style=" padding-top: 10px; padding-bottom: 30px;">
                    <script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>

                    <script>
                        window.renderBadge = function() {
                            var ratingBadgeContainer = document.createElement("div");
                            document.body.appendChild(ratingBadgeContainer);
                            window.gapi.load('ratingbadge', function() {
                                window.gapi.ratingbadge.render(ratingBadgeContainer, {"merchant_id": 292634070});
                            });
                        }
                    </script>
                    <div><img src="{template}images/viber.png" style="width: 15px;"> +38 (095) 622 82 82</div>
                    <div><i class="fa fa-phone" aria-hidden="true"></i> +38 (097) 622 82 82</div>
                    <div><i class="fa fa-envelope" aria-hidden="true"></i> office.bobas.ua@gmail.com</div>
                    <div>
                        <a href="https://www.instagram.com/bobas.ua/" target="_blank"><img src="{template}images/insta.png" style="width: 32px;"></a>
                        <a href="https://www.facebook.com/bobas.ukraine" target="_blank"><img src="{template}images/facebook.png" style="width: 32px;"></a>
                        <img src="{main_sait}images/visa_mastercard.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
{buttonBuy}
</footer><!--/Footer-->