<div class="col-xs-12">
    <div style="border: 1px solid #ddd;    padding-top: 15px; position: relative;">
        <div style="z-index: 1049;position: absolute; top: 0px; left: 0px; padding: 5px 15px; text-align: center; background-color: rgba(240,0,9,0.7); color: #FFF; font-size: 1.2em;">+ Подарунок!</div>
        <div class="row">
            <div class="col-lg-4"><div class="imageItem">
                <a href="{link}" class="thumbnail" style="border: none;"><img src="{image}" alt="item"></a>
            </div></div>
            <div class="col-lg-8">
                <div class="infoItem">
                    <div><a href="{link}">{name}</a></div>
                    <div>{strike}<span>{price_old}</span>{/strike} {price_discount} грн</div>
                </div>
            </div>
        </div>
    </div>
</div>