<div class="col-xs-4">
    <div class="imageItem">
        <a href="{link}" class="thumbnail"><img src="{image}" alt="item"></a>
    </div>
    <div class="infoItem">
        <div class="nameItem"><a href="{link}">{name}</a></div>
        <div class="priceItem" style="white-space: nowrap;">{strike}<span>{price_old}</span>{/strike} {price_discount} грн</div>
        <div class="buy"><a class="btn btn-default" href="#" onclick="addItemToCart({id}); return false;">купити</a></div>
    </div>
</div>