<div class="container mainBlock">
    <div class="row">
        <div class="col-lg-3" style="background-color: #f7f7f7; padding-left: 0px; padding-right: 0px;">

        </div>
        <div class="col-lg-9">
            <section id="slider"><!--slider-->
                <div class="row">
                    <div class="col-sm-12" style="padding-left: 0px;">
                        <div class="rotator">
                            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    {baner}
                                </div>

                                <!-- Controls -->
                                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section><!--/slider-->
        </div>
    </div>
</div>
<section style="margin-bottom: 20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="rightBlock">
                    <div class="rightBlockHg">
                        <a href="https://bobas.ua/ua/mode/news" style="color: #FFFFFF;"><i class="fa fa-list-ul" aria-hidden="true"></i> <span>Блог</span></a>
                    </div>
                    {mainPage_blog}
                </div>
                <div class="rightBlock" style="margin-top: 40px;">
                    <div class="rightBlockHg">
                        <i class="fa fa-comments" aria-hidden="true"></i> <span>Останні коментарі</span>
                    </div>
                    {last_comment}
                </div>
                {leftBaner}
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12" style="text-align: center;">
                        <h2>ПОПУЛЯРНІ ТОВАРИ</h2>
                    </div>
                </div>
                {lastAddBlock}
                <div class="row" style="margin-top: 115px;">
                    <div class="col-lg-12" style="text-align: center;">
                        <h2>АКЦІЙНІ ТОВАРИ</h2>
                    </div>
                </div>
                {actionsBlock}
                <div class="row">
                    <div class="col-lg-12" style="color: grey;">
                    </div>
                </div>
            </div>
        </div>
        <!--<div id="brandsCarouser" class="carousel slide" data-ride="carousel">-->
            <!--<div class="carousel-inner" role="listbox">-->
                <!--{brandsCarousel}-->
            <!--</div>-->

            <!--&lt;!&ndash; Controls &ndash;&gt;-->
            <!--<a class="left carousel-control" href="#brandsCarouser" role="button" data-slide="prev" style="width: auto;">-->
                <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Previous</span>-->
            <!--</a>-->
            <!--<a class="right carousel-control" href="#brandsCarouser" role="button" data-slide="next" style="width: auto;">-->
                <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                <!--<span class="sr-only">Next</span>-->
            <!--</a>-->
        <!--</div>-->
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-2025d294-3705-4e31-bebe-6026b14ef962"></div>
    </div>
</section>