<div class="col-lg-3 col-xs-6" style="padding: 0;">
    <div class="itemShop">
        <div class="col-lg-5">
            <div style="position: relative;">
                <a href="{link}" {imgStyle} class="thumbnail" style="border: none;"><img src="{image}"></a>
                {addAct}
            </div>
        </div>
        <div class="col-lg-7">
            <div class="nameItem" style="height: 35px;font-size: 0.9em;">{name}</div>
            <div class="row bottomItem">
                <div class="col-lg-7" style="padding: 0px;">
                    <div class="price" style="font-size: 0.9em;text-align: center;">{strike}{price}{/strike} <span class="priceNow">{price_discount} грн</span></div>
                </div>
                <div class="col-lg-5" style="padding: 0px;">
                    <a href="{link}" class="btn btn-info" style="width: 100%;">Купить</a>
                </div>
            </div>
        </div>
    </div>
</div>